link(rel="stylesheet", href="/css/styles.css")
form(method="POST")
  article  
        h1 #{article.pseudo}
        h4 #{article.title}
        p #{article.Tweet}
        label(for="reponse") Réponse:
        br
        textarea(id="reponse", name="reponse", placeholder="")
        br
        br
        button(type="submit") Commenter
